/* =================
Add more styles here!
================= */

body {
  padding: 0;
  overflow: hidden;
  font-family: helvetica, arial, sans-serif;
}

.map {
  position: absolute;
  right: 0;
  height: 100%;
  width: 66.666%;
  top: 0;
}

.sidebar {
  position: absolute;
  left: 0px;
  width: 33.333%;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 20px;
}
.title {
  font-size:30px;
  font-weight: bold;
}

.filters {
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 22px;
}
input {
  width: 100%;
}
select {
  font-size: 12px;
}

.schoolListings
div {
  background-color: #ececec;
  padding: 18px 12px;
  margin: 10px 0;
}
.name {
  font-size: 24px;
}
span {
  font-size: 23px;
  color: grey;
}
